<div>
  <div class="hidden visually-hidden" id="config-form">
    <form action="/config" method="post" class="form-container">
      <h2>Regional settings</h2>
      <div class="col-md">
        <div class="form-group">
          <span class="form-label" id="language">Translate to</span>
          <input
            type="hidden"
            id="input_language"
            name="input_language"
            value="en"
          />
          <div id="google_translate_element"></div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group">
          <span class="form-label" id="country">Country</span>
          <select
            class="form-control shadow-none config-options"
            id="country-select"
            name="country-select"
            onchange="getCurrencies()"
          ></select>
        </div>
      </div>
      <div class="col-md">
        <div class="form-group">
          <span class="form-label" id="currency">Currency</span>
          <select
            class="form-control shadow-none config-options"
            id="currency-select"
            name="currency-select"
          ></select>
        </div>
      </div>
      <div class="popup-buttons">
        <button
          type="submit"
          class="btn-save"
          onclick="selectLanguage();closeForm('config-form')"
        >
          Save
        </button>
        <button
          type="button"
          class="btn-cancel"
          onclick="closeForm('config-form')"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</div>
