<div>
    <div class="hidden visually-hidden" id="price-list-window">
      <div class="form-container">
        
        <h2>Book your tickets</h2>
        <h1>{% if session['passengers'] == 1 %}
          1 Adult,&nbsp
          {% else %}
          {{ session['passengers'] }} Passengers,&nbsp
          {% endif %}
          {{ session['cabin_class'] }}
        </h1>

        <div id="price-list">
        </div>
        
        <div class="popup-buttons" style="margin-top:1rem">
        <button type="button" class="btn-cancel" onclick="closePriceList()">Close</button>
        </div>

      </div>
    </div>
</div> 
